<h2>Litmus Tests</h2>

<p>
Litmus is an external service that loads URLs in multiple browser and operating system combinations, taking a screenshot once the page is loaded. <a href="http://litmusapp.com/">More information</a>.
</p>
<p>
It is intended for use by graphic designers to check the visible rendering of the page, however since it executes all the code on the page in the browser we can run Javascript Unit Tests and submit the results back to our server.
</p>

<h2>Latest Test</h2>

<p>
For use by continuous integration servers, the link below returns just the Id of the last <em>complete</em> test.
</p>

<%= link_to 'Latest complete test id', litmus_external_latest_path  %>

<h2>All Tests</h2>

<p>
Below is the list of tests hosted on the Litmus server.
</p>

<table class="logtable">
  <thead>
    <tr>
      <th>Litmus Id</th>
      <th>State</th>
      <th>Page Title</th>
      <th>Page URL</th>
    </tr>
  </thead>
<% for testset in @testsets %>
  <tbody>
    <tr>
      <td><%= link_to testset.id, :action => 'show', :id => testset.id %></td>
      <td><%= testset.state.titleize %></td>
      <td><%= testset.name %></td>
      <td><%= testset.url_or_guid %></td>
    </tr>
  </tbody>
<% end %>
</table>


<h2>Debug</h2>

<%= debug @testsets.to_xml %>