<% set_title "Activexobject < Data transport" %>
<% content_for :javascripts do %>

<!-- jsHub dist file -->
<!-- jsHub dist file -->
<%= javascript_include_tag "/js/src/modules/yui/yui-base-debug.js" %>
<%= javascript_include_tag "/js/src/modules/debug/debug-debug.js" %>
<%= javascript_include_tag "/js/src/modules/logger/logger-debug.js" %>
<%= javascript_include_tag "/js/src/modules/hub/hub-debug.js" %>
<%= javascript_include_tag "/js/src/modules/jshub/jshub-debug.js" %>
<%= javascript_include_tag "/test_assets/regressions/form-transport-clicks-debug.js" %>

<script type="text/javascript">
  YUI().use('jshub', function(Y, result) {
    if (!result.success) {
        Y.log('Load failure: ' + result.msg, 'warn', 'jsHub');
    } else {
        Y.log('Loaded: jsHub', 'info', 'jsHub');
    }
  });
</script>

<% end %>
<% content_for :intro do %>
<p>
  This page hosts a version of the  cross-domain data transport via form submission to an iframe as a baseline for comparison of UX issues in IE.
</p>
<p>
  Users should experience a series of rapid-fire clicks as events are dispatched.
</p>

<p>
  In some versions the browser throbber may continue to spin whilst requests are made.
</p>

<% end %>
<!-- Any HTML you may require for your tests to work properly -->

<script language="javascript" type="text/javascript">
(function() {
	
  /* 
   * Check the browser environment for required JS libraries and other 
   * supporting functionality to avoid false test failure results due to 
   * mis-configuration, etc
   */
  suite.add(new Y.Test.Case({ 
    name : "Environment check",
  
    "test required test dependencies" : function () {
      Y.Assert.isNotUndefined(window.YUI, "The YUI library is required");
      Y.Assert.isNotUndefined(window.jsHub, "The jsHub hub is required");
    },
  
    "test jsHub API dependencies" : function () {
      Y.Assert.isFunction(jsHub.bind, "jsHub.bind() is not a Function");
      Y.Assert.isFunction(jsHub.trigger, "jsHub.trigger() is not a Function");
      Y.Assert.isFunction(jsHub.safe, "jsHub.safe() is not a Function");
    }
  }));
  
  suite.add(new Y.Test.Case({
    name: "Form Transport",
    
    "test method exists": function() {
      Y.Assert.isFunction(jsHub.dispatchViaForm, "jsHub.dispatchViaForm() is not a Function");
    },

    "test create rapid clicks": function() {
      var method = 'POST',
        url = 'http://test.causata.com/rtw',
        data = { field1 : "value1", field2 : "value2" };
      for ( i = 0; i < 5; i++ ) {
        var result = jsHub.dispatchViaForm(method, url, data);
        Y.Assert.isNotNull(result, "jsHub.dispatchViaForm() return value is null");
      }
    }

  }));
})();

  
</script> 